@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    /* --foreground: #aa1717; */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        /* --background: #aa0a0a; */
        --foreground: #ededed;
        /* --foreground: #0707aa; */
        /* --bgA: url(@/public/celeste_summit_win_gif.gif); */
        --bgURLA: url(@/public/celeste_summit_win_gif.gif);
        --bgURLB: url(@/public/happy_gif.gif);
    }
}

body {
    background: var(--background);
    background-size: cover;
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.someCustomClass {
    background: #61d0f0;
    color: greenyellow;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background: var(--bgURLB);
    background-size: cover;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.opacityOverride {
    opacity: 1 !important;
}

.bgDefault {
    background: var(--background);
    background-size: cover;
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.bgA {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(@/public/celeste_summit_win_gif.gif);
    background-size: cover;
    background-position: center center;
}
.bgB {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(@/public/happy_gif.gif);
    background-size: cover;
}
